{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block pagetitle %}Dashboard{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
									<div class="panel panel-{% if vulnerable %}danger{% else %}success{%endif%}">
                        <div class="panel-heading">
                            <h5>Account Status</h5>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
														{% if vulnerable %}
                            <h1><i class="fa fa-exclamation-triangle"></i> Vulnerabilities Detected! </h1>
														{% else %}
														<h1><i class="fa fa-check"></i> No vulnerabilties detected</h1>
														{% endif %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>Device Graphs</h5>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
														<div id="graphs"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-12 -->
								{% if False %}
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h5><i class="fa fa-bell fa-fw"></i> Notifications Panel</h5>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Vulnerability Detected - Office Android
                                    </span>
                                </a>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Vulnerability Detected - Office Android
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
										{% if False %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5><i class="fa fa-bar-chart-o fa-fw"></i> Security News Feed</h5>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    Blog entry 1
                                    </span>
                                </a>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    Blog entry 2
                                    </span>
                                </a>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    Blog entry 3
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
										{% endif %}
                </div>
                <!-- /.col-lg-4 -->
								{% endif %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
