{% extends "base.html" %}

{% block title %}
    {% if device.nickname %}
        Device - {{ device.nickname }}
    {% else %}
        Device - {{ device.uid }}
    {% endif %}
{% endblock %}

{% block pagetitle %}
    {% if device.nickname %}
        Device - {{ device.nickname }}
    {% else %}
        Device - {{ device.uid }}
    {% endif %}
{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default {% if vulnerabilities %}panel-danger{% else %}panel-success{% endif %}">
                        <div class="panel-heading">
                            Vulnerability List
                        </div>
                        <div class="panel-body">
                            {% if vulnerabilities %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Application</th>
                                                <th>Version</th>
                                                <th>CVE Number</th>
                                                <th>CVSS Score <a href="#" data-toggle="tooltip" title="CVSS scores rate vulnerability severity from 0 to 10 (10 being most severe) on a number of factors, see the help section for more details"><i class="fa fa-info-circle"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for vulnerability in vulnerabilities %}
                                            <tr class="{% if vulnerability.score > 5 %}danger{% else %}warning{% endif %}">
                                                <td><a href="#{{ vulnerability.cve }}">{{ vulnerability.cpe.product }}</a></td>
                                                <td>{{ vulnerability.cpe.version }}</td>
                                                <td>{{ vulnerability.cve }}</td>
                                                <td>{{ vulnerability.score }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            {% else %}
                                <h1>No vulnerabilities detected</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            {% for vuln in vulnerabilities %}
            <div class="row">
                <div id="vuln1" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ vuln.cve }}
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">Vulnerability Description</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            {{ vuln.summary }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">Links to Remediation Information</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                {% for reference in vuln.references %}
                                                <li><a href="http://google.com">Reference Number 1</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% endfor %}

						<div class="panel panel-default">
							<div class="panel-heading">
								Installed Software
							</div>
							<div class="panel-body">
								<ul class="list-group">
									{% for software in safe_software %}
									<li class="list-group-item">{{software.cpe.title}}</li>
									{% endfor %}
								</ul>
							</div>


{% endblock %}
