{% extends "base.html" %}

{% block title %}
    {% if device.nickname %}
        Device - {{ device.nickname }}
    {% else %}
        Device - {{ device.uid }}
    {% endif %}
{% endblock %}

{% block pagetitle %}
    {% if device.nickname %}
        Device - {{ device.nickname }}
    {% else %}
        Device - {{ device.uid }}
    {% endif %}
{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
									<div class="panel panel-default">
                        <div class="panel-heading">
                            Vulnerability List
                        </div>
                        <div class="panel-body">
                            {% if vulnerabilities %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Vulnerable Applications</th>
                                                <th>Severity <a href="#" data-toggle="tooltip" title="CVSS scores rate vulnerability severity from 0 to 10 (10 being most severe) on a number of factors, see the help section for more details"><i class="fa fa-info-circle"></i></a></th>
                                                <th>Number of Vulnerabilties</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for app in vulnerable_software %}
                                            <tr class="{% if app.max_score > 5.0 %}danger{% else %}warning{% endif %}">
																							<td><a class="accordionlink" onclick="test('#body{{app.cpe.product}}')" href="#detail{{app.cpe}}">{{ app.cpe.title }}</a></td>
																								<td>{{ app.max_score }}</td>

																								<td>
																										{{app.vulnerability.count}}
																								</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            {% else %}
                                <h1>No vulnerabilities detected</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
						<div class="panel-group" id="cpeaccordion">
						{% for app in vulnerable_software %}
						<div class="panel panel-default" id="detail{{app.cpe}}">
							<div class="panel-heading" >
									<h4 class="panel-title">
										<a  data-toggle="collapse" data-parent="#cpeaccordion" href="#body{{app.cpe.product}}">{{app.cpe.title}}</a>
									</h4>
							</div>
							<div class="panel-collapse collapse" id="body{{app.cpe.product}}">
							<div class="panel-body">
						
								<div class="panel-group" id="outerAccordion{{app.product}}">
            {% for vuln in app.vulnerability.all %}
							<div id="{{vuln.cve}}" class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
													<h3 class="panel-title">
													<a data-toggle="collapse" data-parent="#outerAccordion{{app.product}}" href="#cve_block{{vuln.cve}}">{{ vuln.cve }} - {{vuln.score}}</a><span class="pull-right"><a href="#">Top</a></span>
												</h3>
                        </div>
                        <!-- .panel-heading -->
												<div class="panel-collapse collapse" id="cve_block{{vuln.cve}}">
												<div class="panel-body">
													<div class="panel-group" id="accordion{{vuln.cve}}">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
																					<a data-toggle="collapse" data-parent="#accordion{{vuln.cve}}" href="#collapseOne{{vuln.cve}}">Vulnerability Description</a>
                                        </h4>
                                    </div>
																		<div id="collapseOne{{vuln.cve}}" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            {{ vuln.summary }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
																					<a data-toggle="collapse" data-parent="#accordion{{vuln.cve}}" href="#collapseTwo{{vuln.cve}}">Links to Remediation Information</a>
                                        </h4>
                                    </div>
																		<div id="collapseTwo{{vuln.cve}}" class="panel-collapse collapse">
                                            <ul class="list-group">
																								<li class="list-group-item"><a href="http://web.nvd.nist.gov/view/vuln/detail?vulnId={{vuln.cve}}">NVD Database</a></li>
                                                {% for reference in vuln.references %}
																								<li class="list-group-item">{% if reference.type == "PATCH" %}Patch information: {%elif reference.type == "VENDOR_ADVISORY"%}Vendor Advisory: {%else%}Extra information: {%endif%}<a href="{{reference.address}}">{{reference.address}}</a></li>
																								{% endfor %}
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
												</div>
											</div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            <!-- /.row -->
            {% endfor %}
					</div>
					</div>
				</div>
			</div>
						{% endfor %}
				</div>

						{% if False %}
						<div class="panel panel-default">
							<div class="panel-heading">
								Installed Software
							</div>
							<div class="panel-body">
								<ul class="list-group">
									{% for software in safe_software %}
									<li class="list-group-item">{{software.cpe.title}}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}


{% endblock %}

{% block js %}

						<script type="text/javascript">
								function test(e) {
									$(e).addClass("in");
								}
						</script>
{% endblock %}
