{% extends "base.html" %}

{% block title %}Device List{% endblock %}

{% block pagetitle %}Device List{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    {% if devices %}
                           <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>List of devices</h5>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Device Nickname</th>
                                                    <th>Status</th>
                                                    <th>Last Updated</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for device in vulnerable_devices %}
                                                    {% if device.max_sev > 5 %}
                                                        <tr class="danger">
                                                            <td><a href="/device/{{ device.uid }}">{{ device.nickname }}</a></td>
                                                            <td>High risk vulnerabilities detected - act now!</td>
                                                            {% if device.last_updated %}
                                                                <td>{{ device.last_updated }}</td>
                                                            {% else %}
                                                                <td>No data uploaded</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% else %}
                                                        <tr class="warning">
                                                            <td><a href="/device/{{ device.uid }}">{{ device.nickname }}</a></td>
															<td>Low risk vulnerabilities detected</td>
                                                            {% if device.last_updated %}
                                                                <td>{{ device.last_updated }}</td>
                                                            {% else %}
                                                                <td>No data uploaded</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for device in safe_devices %}
                                                    <tr class="success">
                                                        <td><a href="/device/{{ device.uid }}">{{ device.nickname }}</a></td>
                                                        <td>No known vulnerabilities</td>
                                                        {% if device.last_updated %}
                                                            <td>{{ device.last_updated }}</td>
                                                        {% else %}
                                                            <td>No data uploaded</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                {% for device in no_data_devices %}
                                                    <tr class="info">
                                                        <td><a href="/device/{{ device.uid }}">{{ device.nickname }}</a></td>
                                                        <td>No data received from device</td>
                                                        {% if device.last_updated %}
                                                            <td>{{ device.last_updated }}</td>
                                                        {% else %}
                                                            <td>No data uploaded</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                    {% else %}
                        <h1>No devices registered to this account</h1>
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}
